# Python
__pycache__/
*.pyc

# Virtual env
venv/

# Django
db.sqlite3
.env

# Static & media
/staticfiles/
/media/

# OS
.DS_Store

# Ignore secret keys
.env
.venv
env/
venv/

# Ignore user uploads (we don't want test PDFs on GitHub)
media